@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.container {
  max-width: 100%;
}

.jsx-121bb2f70dcea17e {
  gap: 1rem;
  /* width: 300px;
  padding: 0 12.7rem;
  font-size: 10px;
  text-align: left; */
}

h1{
  width: 300px;
  font-size: 10px;
  text-align: left;
  margin-bottom: 0.5rem;
  padding: 5px;
}